<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
 
 
<suite name="PG_FMS"   preserve-order="true" parallel="false">

   <test name="TestSuite_PGportal" parallel="false"> 
   
		<classes> 
			 <class name="com.apc.PGportal.TestSuite_PGportal"> </class>	
		</classes>
	 
	</test> 
	
	 <!-- 
	  <test name="TestSuite_MerchantChecks" > 
	  
		<classes> 
		   <class name="com.apc.FMS.TestSuite_MerchantChecks"> </class>
		</classes>
	 	
	</test> 
	
	<test name="TestSuite_GlobalChecks" parallel="false" > 
	 
		<classes> 
		  <class name="com.apc.FMS.TestSuite_GlobalChecks"> </class> 
		</classes>
		 
	</test>   
	 -->
</suite>
	 
